{% extends 'base.html' %}
{% block content %}
<style>
  .card-img-top {
    height: 200px; /* Adjust the desired height */
    width: 100%; /* Adjust the desired width */
    object-fit: cover; /* Maintain aspect ratio and fill the available space */
  }
</style>

<div class="container">
  <div class="row">
    {% for i in movie_list %}
    <div class="col-md-3">
      <div class="card">
        <img src="{{ i.image.url }}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{ i.name }}</h5>
          <p class="card-text">{{ i.desc }}</p>
          <a class="btn btn-warning" href="{% url 'movieapp:detail' i.id %}" id="view-btn">View Details</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>









{% endblock %}