{% extends 'base.html' %}
{% block content %}
<div class ='container'>
    <div class="row">
{% for i in movie_list %}
        <div class ="col-md-3">

<div class="card">
  <img src="{{i.image.url}}"width="50px" height="200px" class="card-img-top"  alt="...">
  <div class="card-body">
    <h5 class="card-title">{{i.name}}</h5>
    <p class="card-text">{{i.desc}}</p>
    <a class="btn btn-warning" href="{% url 'movieapp:detail' i.id %}" id="view-btn">view details</a>
  </div>
</div>
</div>
  {% endfor %}
        </div>
    </div>



{% endblock %}